<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">E-dziekanat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        {{#student}}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/student/{{albumNumber}}">Dane ogólne</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student/{{albumNumber}}/degree">Oceny</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student/{{albumNumber}}/plan">Plan zajęć</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="nav-link">{{name}} {{lastName}}</div>
                </li>
            </ul>
        {{/student}}
        {{^student}}{{/student}}
    </div>
</nav>
